table{
    margin: 10px auto;
    width: 95%;
    border: thin solid black;
    border-collapse:collapse;
    text-align: center;
}

caption{
    background-color: palevioletred;
    padding: 0.5em;
}

th, td{
    border: thin solid black;
    padding: 0.5em;
}

tr:nth-child(even){
    background-color: lightgray;
}

tr:nth-child(odd){
    background-color: white;
}

@media only screen and (min-width: 32.5em){
    caption{
        background-color: lightseagreen;
    }
}

@media only screen and (min-width: 65em){
    caption{
        background-color: thistle;
    }
}