@media only screen and (min-width: 32.5em) {
    
    header{
        background-color: mediumvioletred;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: black;
    }

    footer{
        background-color: mediumvioletred;
        color: black;
    }
}