body{
    max-width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25em;
}

header{
    background-color: midnightblue;
    text-align: center;
    color: white;
}

header img{
    border-radius: 8px;
}

footer{
    background-color: midnightblue;
    color: white;
}

.copyright{
    text-align: center;
}